/* ==================== BASE STYLES ==================== */
@import url('base.css');

/* ==================== HEADER & NAV ==================== */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s, background-color .4s;
}

.shadow-header{
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

.nav{
  height: var(--header-height);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.nav__logo{
  display: flex;
  align-items: center;
  gap: .8rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.nav__logo-img{
  width: 4rem;
  height: 4rem;
}

.nav__logo-name{
  white-space: nowrap;
  font-size: var(--h3-font-size);
}

/* navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu{
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-block: 2.8rem 8rem;
    backdrop-filter: blur(8px);
    transition: top .4s;
  }
}

/* show menu */
.show-menu{
  top: 0;
}

.nav__title,
.nav__name,
.nav__close{
  color: var(--white-color);
}

.nav__title{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 5.6rem;
}

.nav__name{
  position: relative;
  width: max-content;
  margin: 0 auto 4.8rem;
  font-size: var(--h2-font-size);
}

.nav__name::before,
.nav__name::after{
  content: '';
  width: 4rem;
  height: .1rem;
  background-color: var(--text-color-light);
  position: absolute;
  top: 50%;
  left: -6.4rem;
}

.nav__name::after{
  left: initial;
  right: -6.4rem;
}

/* menu links */
.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.nav__link{
  position: relative;
  color: var(--text-color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  transition: color .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -.8rem;
  width: 0;
  height: .2rem;
  background-color: var(--white-color);
  transition: width .3s;
}

.nav__link:hover::after{
  width: 25%;
}

.active-link{
  color: var(--white-color);
}

.active-link::after{
  width: 25%;
}

.nav__close{
  position: absolute;
  top: 1.6rem;
  right: 2.4rem;
  font-size: 2.4rem;
  cursor: pointer;
}

.nav__buttons{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* ==================== THEME ==================== */
/* theme button */
.change-theme{
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.3s;
}

.change-theme:hover{
  color: var(--title-color);
}

/* variables Dark theme */
body.dark-theme{
  --first-color: hsl(14, 80%, 50%);
  --black-color: hsl(0, 0%, 18%);
  --black-color-light: hsl(0, 0%, 30%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --body-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 12%);
}

.dark-theme .shadow-header{
  box-shadow: 0 1px 12px hsl(0, 0%, 0%, .6);
}

.dark-theme .section__title-1::after,
.dark-theme .section__title-2::after{
  background-color: hsla(14, 70%, 50%, .2);
}

.dark-theme :is(.home__arrow, .home__line, .about__line){
  filter: none;
}

.dark-theme .home__description b{
  background: linear-gradient(90deg, hsla(14, 80%, 50%, 0.3), hsla(14, 80%, 50%, 0));
}

.dark-theme :is(.button__ghost, .services__icon i){
  color: var(--white-color);
}

.dark-theme .projects__card:hover{
  background-color: var(--body-color);
}

.dark-theme :is(.contact__mail, .contact__input, .contact__label){
  background-color: var(--container-color);
}

.dark-theme .footer{
  background-color: hsl(0, 0%, 4%);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(0, 0%, 20%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(0, 0%, 30%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 40%);
}

/* hamburger menu */
.nav__toggle{
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--black-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
  font-size: 2rem;
  cursor: pointer;
}


/* ==================== HOME ==================== */
.home__container{
  padding-top: 3.2rem;
}

.home__name{
  font-size: var(--biggest-font-size);
  text-align: center;
}

.home__perfil{
  position: relative;
  justify-self: center;
}

.home__image{
  width: 22rem;
}

.home__img{
  position: relative;
  z-index: 10;
}

.home__shadow{
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  position: absolute;
  bottom: -1.2rem;
  right: -1.2rem;
  border: .4rem solid var(--black-color);
  z-index: 5;
  transition: background-color .4s;
}

.home__arrow,
.home__line{
  position: absolute;
  width: 5rem;
  filter: invert(1);
  transition: filter .4s;
}

.home__arrow{
  left: 40%;
  bottom: -6.4rem;
}

.home__line{
  right: -3.2rem;
  bottom: -.8rem;
}

.home__perfil .geometric-box{
  top: 4rem;
  left: -.7rem;
  z-index: 10;
}

.home__social{
  position: absolute;
  left: -4.8rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: grid;
  gap: 1.6rem;
  height: max-content;
}

.home__social-link{
  display: grid;
  place-items: center;
  padding: .6rem;
  font-size: 2rem;
  background-color: var(--black-color-light);
  color: var(--white-color);
  transition: background-color .3s;
}

.home__social-link:hover{
  background-color: var(--black-color);
}

.home__info{
  margin-top: 6.4rem;
}

.home__description{
  text-align: center;
  color: var(--title-color);
  margin-bottom: 2.4rem;
}

.home__description b{
  background: linear-gradient(90deg, hsla(14, 98%, 50%, 0.3), hsla(14, 98%, 50%, 0));
}

.home__scroll{
  display: block;
  width: max-content;
  margin: 0 auto;
}

.home__scroll-box{
  width: 3.6rem;
  height: 3.6rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  background-color: var(--black-color);
  color: var(--white-color);
  overflow: hidden;
  cursor: pointer;
  transition: background-color .4s;
}

.home__scroll-box i{
  animation: scroll-down 3s infinite linear;
}

/* animation scroll icon */
@keyframes scroll-down{
  0%{
    transform: translateY(-1.6rem);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(.98rem);
    opacity: 0;
  }
}

.home__scroll-text{
  display: none;
}


/* ==================== ABOUT ==================== */
.about{
  background-color: var(--container-color);
  transition: background-color .4s;
}

.about__container{
  gap: 0;
}

.about__perfil{
  position: relative;
  justify-self: center;
  margin-block: 4rem 7.2rem;
}

.about__image{
  width: 22rem;
}

.about__img{
  position: relative;
  border: .4rem solid var(--white-color);
  z-index: 1;
}

.about__shadow,
.about__line,
.about__box{
  position: absolute;
}

.about__shadow{
  width: 15rem;
  height: 38.5rem;
  background-color: var(--body-color);
  top: -4rem;
  right: -5.6rem;
  border-bottom: .4rem solid var(--first-color);
  transition: background-color .4s;
}

.about__perfil .geometric-box{
  top: -2.4rem;
  right: -4.48rem;
}


.about__line{
  top: 9.6rem;
  right: -2rem;
  width: 5rem;
  filter: invert(1);
  transition: filter .4s;
}

.about__box{
  width: 4rem;
  height: 4rem;
  background-color: var(--first-color);
  right: -.8rem;
  bottom: 2rem;
}

.about__info{
  padding-left: 2rem;
}

.about__description{
  position: relative;
  color: var(--title-color);
  margin-bottom: 2.4rem;
}

.about__description::after{
  content: '';
  width: 2rem;
  height: .1rem;
  background-color: var(--title-color);
  position: absolute;
  top: .8rem;
  left: -2.8rem;
}

.about__list{
  list-style: square;
  color: var(--title-color);
  margin-bottom: 4.8rem;
}

.about__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}


/* ==================== BUTTON ==================== */
.button,
.button__ghost{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.button{
  background-color: var(--black-color);
  padding: 1.76rem 2.4rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: background-color .4s;
}

.button:hover{
  background-color: var(--first-color);
}

.button i{
  font-size: 2rem;
}

.button__ghost{
  border: .3rem solid var(--black-color);
  color: var(--black-color);
  padding: .8rem;
  transition: border .4s, color .4s;
}

.button__ghost i{
  font-size: 2rem;
  transition: transform .4s;
}

.button__ghost:hover{
  border: .3rem solid var(--first-color);
  /* color: var(--first-color); */
}

.button__ghost:hover i{
  transform: scale(1.5);
}


/* ==================== SERVICES ==================== */
.services__container{
  grid-template-columns: 25rem;
  /* grid-template-columns: repeat( auto-fit, minmax(20rem, 30rem) ); */
  justify-content: center;
  gap: 3.2rem;
  padding-top: 1.6rem;
}

.services__card{
  position: relative;
}

.services__content{
  height: 100%;
  background-color: var(--body-color);
  border: .4rem solid var(--black-color);
  padding: 9.6rem 1.6rem 4.8rem;
  position: relative;
  z-index: 5;
  transition: background-color .4s, border .4s;
}

.services__border{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: .4rem solid var(--first-color);
  transition: transform .4s;
}

.services__card:hover .services__border{
  transform: translate(1.2rem, 1.2rem);
}

.services__icon{
  position: relative;
  display: inline-block;
}

.services__icon i{
  font-size: 6rem;
  color: var(--black-color);
  position: relative;
  z-index: 5;
}

.services__box{
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: var(--first-color);
  right: -.2rem;
  top: -.2rem;
}

.services__title{
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}


/* ==================== PROJECTS ==================== */
.projects{
  background-color: var(--container-color);
  transition: background-color .4s;
}

.projects__container{
  gap: 3.2rem;
}

.projects__card{
  padding: 1.6rem 1.6rem 3.2rem;
  transition: background-color .4s;
}

.projects__card:hover{
  background-color: var(--white-color);
}

.projects__image{
  position: relative;
  margin-bottom: 1.2rem;
}

.projects__img{
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.projects__button{
  position: absolute;
  right: 1.6rem;
  bottom: -2.4rem;
  padding: 1.6rem;
}

.projects__content{
  margin-bottom: 2rem;
}

.projects__subtitle{
  position: relative;
  display: inline-block;
  margin-bottom: 1.2rem;
  padding-left: 2.8rem;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.projects__subtitle::after{
  content: '';
  width: 2rem;
  height: .1rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--title-color);
}

.projects__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.2rem;
}

.projects__buttons{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}


.projects__link{
  display: flex;
  align-items: center;
  gap: .4rem;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.projects__link i{
  font-size: 1.6rem;
  color: var(--title-color);
  transition: color .4s;
}

.projects__link:hover,
.projects__link:hover i{
  color: var(--first-color);
}


/* ==================== CONTACT ==================== */
.contact{
  padding-bottom: 0;
}

.contact__container{
  position: relative;
  grid-template-rows: 30rem max-content max-content;
  gap: 0;
}

.contact__data{
  position: relative;
  width: 30rem;
  height: 30rem;
  padding: 4.8rem 2.4rem 5.6rem;
  margin-left: auto;
  background-color: var(--container-color);
  border-bottom: .4rem solid var(--first-color);
  z-index: 5;
  transition: background-color .4s;
}

.contact__data .section__title-2{
  margin: 0 0 2.4rem;
  transform: translateX(-4.8rem);
}

.contact__description-1{
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 3.2rem;
}

.contact__description-2{
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact__data .geometric-box{
  top: 3.2rem;
  right: 4rem;
}

.contact__mail{
  position: relative;
  background-color: var(--black-color);
  padding: 8rem 2.4rem 4rem;
  margin-top: -4rem;
  transition: background-color .4s;
}

.contact__title{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  margin-bottom: 3.2rem;
  text-align: center;
}

.contact__form,
.contact__group{
  display: grid;
  gap: 2rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 5.8rem;
}

.contact__input,
.contact__button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  border: .3rem solid var(--black-color-light);
  padding: .8rem 1.6rem;
  font-weight: var(--font-medium);
  transition: border .4s, background-color .4s;
}

.contact__input::placeholder{
  color: var(--text-color-light);
  transition: opacity .4s;
}

/* Opaque placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

.contact__input:focus{
  border: .3rem solid var(--white-color);
}

.contact__input:-webkit-autofill,
.contact__input:-webkit-autofill:focus {
  transition: background-color 6000s, color 6000s;
}

.contact__input:-moz-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: .8rem;
  left: 1rem;
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  background-color: var(--black-color);
  padding: .8rem;
  pointer-events: none;
  opacity: 0;
  transition: top 0.4s, opacity 0.4s, background-color 0.4s;
}

/* move label up & sticky label */
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  opacity: 1;
  top: -1.6rem;
}

.contact__form .contact__area{
  height: 16rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1.6rem;
}

.contact__button{
  background-color: var(--first-color);
  cursor: pointer;
}

.contact__social{
  display: grid;
  gap: 1.6rem;
  background-color: hsl(0, 0%, 10%);
  padding-block: 1.6rem 3.2rem;
  text-align: center;
}

.contact__social-arrow{
  width: 3.2rem;
  margin: 0 auto;
}

.contact__social-data{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact__social-description-1{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-bottom: .8rem;
}


.contact__social-description-2{
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.contact__social-links{
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.contact__social-link{
  background-color: var(--black-color-light);
  color: var(--white-color);
  padding: .6rem;
  font-size: 2rem;
  display: grid;
  place-items: center;
  transition: background-color .3s;
}

.contact__social-link:hover{
  background-color: var(--first-color);
}

.response__message{
  position: absolute;
  bottom: -2.56rem;
  left: 0;
  font-size: var(--small-font-size);
  color: var(--white-color);
}


/* ==================== FOOTER ==================== */
.footer{
  background-color: var(--black-color);
}

.footer__container{
  padding-block: 4.8rem 3.2rem;
  gap: 4rem;
}

.footer__links{
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  list-style: none;
}

.footer__link{
  color: var(--text-color-light);
  transition: color 0.4s;
}

.footer__link:hover{
  color: var(--white-color);
}


.footer__copy{
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy a{
  color: var(--white-color);
  font-weight: var(--font-medium);
}


/* ==================== SCROLL BAR ==================== */
::-webkit-scrollbar{
  width: .96rem;
  border-radius: .8rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb{
  border-radius: .8rem;
  background-color: hsl(0, 0%, 55%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(0, 0%, 45%);
}


/* ==================== SCROLL UP ==================== */
.scrollup{
  position: fixed;
  right: 1.6rem;
  /* bottom: 4.8rem; */
  bottom: -50%;
  display: inline-flex;
  padding: .8rem;
  font-size: 2rem;
  background-color: var(--black-color);
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
  transform: translateY(-.8rem);
}

.show-scrollup{
  bottom: 4.8rem;
}


/* ==================== BREAKPOINTS ==================== */

/* ========== For small devices ========== */


/* ========== For medium devices ==========*/


/* ========== For large devices ========== */